@font-face {
  font-family: Chloe;
  src: url('../../fonts/Chloe-Regular.otf') format('opentype');
}

@font-face {
  font-family: proxima;
  src: url('../../fonts/proxima-nova-light.otf') format('opentype');
}

h3 {
  color: black;
}

.align {
  max-width: 80%;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  /* width: 70%; */
  align-items: center;
}

.bannersUp {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.bannersUp a {
  color: white;
  margin-left: 15px;
  font-family: proxima, Arial, Helvetica, sans-serif;
}

.bannersDown {
  display: flex;
  /* word-wrap: break-word; */
  justify-content: center;
  width: 100%;
}

.bannersDown div {
  margin: 16px;
  width: 100%;
}

.bannersDown a {
  color: black;
  font-family: proxima, Arial, Helvetica, sans-serif;
}

.bannersDown img {
  width: 100%;
}

.bannersDownP {
  color: black;
  font-family: proxima, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.BanerYoga {
  margin-right: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(../../images/yoga1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.BanerYoga h4 {
  color: white;
  font-family: Chloe, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 0;
}

.BanerMusculacao {
  margin-left: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(../../images/musculacao.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 340px;
}

.BanerMusculacao h4 {
  color: white;
  font-family: Chloe, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 0;
}

.newsletter {
  display: flex;
  flex-direction: column;
  border: 1px solid #73a8a0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newsletter spam {
  font-family: proxima, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 50px;
  color: #666666;
}

.newsletter p {
  color: #666666;
  font-size: 15px;
  font-family: proxima, Arial, Helvetica, sans-serif;
  
}

.newsletter h3 {
  font-size: 40px;
  margin-top: 30px;
}

.newsletter input {
  width: 250px;
  height: 40px;
  color: #666666;
  font-size: 15px;
  padding-left: 15px;
  font-family: proxima, Arial, Helvetica, sans-serif;
}

.newsletter button {
  font-family: proxima, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  background: white;
  border: 1px solid #666666;
  margin-top: 40px;
  padding: 10px 30px;
}

.divButton button {
  background: #73a8a0;
  width: 289px;
  height: 52px;
  color: white;
  border: 0;
  font-family: proxima;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.divButton img {
  margin-left: 10px;
}

