@font-face {
  font-family: Chloe;
  src: url('/home/diego/Big Bang Shop/Big-bag-challenge-react/src/fonts/Chloe-Regular.otf')
    format('opentype');
}

@font-face {
  font-family: Proxima Nova;
  src: url('/home/diego/Big Bang Shop/Big-bag-challenge-react/src/fonts/proxima-nova-light.otf')
    format('opentype');
}

.centralContainer {
  width: 70%;
}

.baner {
  background-image: url(../../images/banner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #C4C4C4;
  height: 190px;
  width: 100%;
}

.banerLetters {
  margin-right: 30px;
}

.baner h4 {
  font-family: Chloe, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 30px;
  padding-left: 70%;
  padding-right: 60px;
  text-align: center;
}

.baner p {
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
  margin-left: 70%;
  margin-right: 30px;
  padding-top: 0;
  text-align: center;
}

.inicioContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.elipse {
  align-items: center;
  background: #73a8a0;
  border-radius: 50%;
  color: white;
  display: flex;
  font-weight: 600;
  height: 100px;
  text-align: center;
  width: 100px;
}

.elipseImg {
  align-items: center;
  background: #73a8a0;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;
  width: 100px;
}

.buttonLorem {
  background: #73a8a0;
  border: 0;
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 75%;
  margin-top: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding: 7px;
}

.bannersLinks {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr 1.6fr;
  margin-top: 10px;
}

.biggerBannerYoga {
  background-image: url(../../images/yoga1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 1;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.biggerBannerYoga h4 {
  color: white;
  font-family: Chloe, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 0;
}

.linkBigBanner {
  padding-bottom: 10px;
  text-decoration: underline;
}

.MediumBannerYoga {
  background-image: url(../../images/yoga2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  grid-column-end: 5;
  grid-column-start: 3; 
  grid-row-end: 1;
  grid-row-start: 1;
  justify-content: flex-end;
}

.MediumBannerYoga h3 {
  color: white;
  font-family: Chloe, Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-left: 10px;
}

a {
  color: white;
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
  margin: 0 50px 0 7px;
  text-decoration: none;
}

.imersaoPicture {
  background-image: url(../../images/yoga3.png);
  background-position: center center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-row-start: 2;
  justify-content: flex-end;
}

.CondiciondorPicture {
  background-image: url(../../images/condicionador.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  grid-column-end: 4;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-row-start: 2;
  justify-content: flex-end;
  opacity: 100%;
}

h3 {
  color: white;
  font-family: Chloe, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 3px 7px;
}

.microBanners {
  display: flex;
}

.banerShop {
  align-items: center;
  border-left-width: 0;
  border-right-width: 0;
  border: 1px solid #C4C4C4;
  display: flex;
  grid-column-end: 5;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 3;
  justify-content: space-around;
  width: 100%;
}

.imageProduct {
  height: 145px;
  width: 145px;
}

.productClass {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.paragrafoDestaque {
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
}

.ParagrafoDescricao {
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  margin-top: 5px;
}

.paragrafoValor {
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  margin-top: 5px;
}

.recomendacoes {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recomendacoes p {
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 1px;
}

.recomendacoes h5 {
  font-family: Chloe, Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 27px;
  margin-top: 1px;
}
