.baner {
  background-image: url(../../images/banner.png);
  /* position: absolute; */
  width: 80%;
  /* min-height: 250px; */
  text-align: right;
  /* left: 1074px; */
  /* top: 208px; */
}

.inicioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elipse {
  background: #73A8A0;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
  align-items: center;
  /* position: absolute; */
  
}
.elipseImg {
  background: #73A8A0;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
  align-items: center;
  /* position: absolute; */
  
}
