@font-face {
  font-family: Proxima Nova;
  src: url('/home/diego/Big Bang Shop/Big-bag-challenge-react/src/fonts/proxima-nova-light.otf')
    format('opentype');
}

.navBar {
  display: flex;
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar div {
  margin-left: 10px;
  color: black;
}

.navIcons img {
  margin-right: 30px;
}

.links {
  text-decoration: none;
}
