html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.push {
  height: 144px;
}
.footerContainer {
  background: black;
  height: 100px;
  bottom: 0px;
}
