html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.push {
  height: 100px;
}

.footerContainer {
  background: black;
  height: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  color: white;
}

.containerSuperior {
  display: flex;
}

.containerInferior {
  display: flex;
}

.pagamento {
  display: flex;
}

.siteSeguro {
  display: flex;
}

.containerInput {
  display: flex;
}
