html , body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.push {
  height: 100px;
}

.footerContainer {
  background: black;
  height: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.containerSuperior {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;

}

.containerInferior {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagamento {
  display: flex;
  align-items: center;
}

.imagemPagamento {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.siteSeguro {
  display: flex;
  align-items: center;
}

.containerInput {
  display: flex;
}

.titulosFooter {
  font-family: proxima, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
}

.paragrafoSuperior {
  font-family: proxima, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
}

.paragrafoInferior {
  font-family: proxima, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
}

hr {
  width: 88%;
}

.imagemSiteSeguro {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.inputFooter {
  width: 250px;
  height: 30px;
}

.ButtonFooter {
  font-family: proxima, Arial, Helvetica, sans-serif;
  size: 13px;
  font-weight: 600;
  background-color: black;
  color: white;
  margin-left: 15px;
  border: 1px solid white;
  padding: 10px 20px;
}

.linkFooter {
  font-family: proxima, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: white;
}
